.wrapper
{
    height: 100vh;
    background: url(./assets/back.jpg) no-repeat center;
    background-size: cover;
    /* backdrop-filter: (3px); */
}
.phone
{
    background: url(./assets/back4.jpg) no-repeat center;
 
    background-size: cover;
   
   width:300px;
   height: 600px;
   /* transform-style: preserve-3d;
   perspective: 1000px; */
   
   

    /* color:white; */
   border: 6px solid rgba(26, 25, 25, 0.945);
  
   

   /* box-shadow: 4px 4px 20px  rgb(161, 90, 90); */
   /* backdrop-filter: blur(5px); */

    
} 
.phone::-webkit-scrollbar
{
    display: none;
}
.notification
{
    background-color: rgba(0, 0, 0, 0.331);
     backdrop-filter: blur(5px);
     position:sticky;
     top:0;
     /* top:0;
     z-index: 999; */
}
.sliderContainer
{
    top:430px;
    background-color:rgb(255, 255, 255);
     backdrop-filter: blur(5px);
     /* transform:translateZ(30px); */


}
.slider{
    appearance: none;
}
.slider-label
{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
}
.slider::-webkit-slider-thumb
{
    appearance: none;
    width:40px;
    height:30px;
    background: radial-gradient(rgb(0, 255, 170),rgb(4, 255, 0)
    );
    /* border-radius: 50%; */
    background: url(assets/arror.gif);
    
    background-size: cover;
    /* font-color: green; */

    /* font-size:200px; */
   

}
.video1
{
margin-left:-130px;
margin-top:1px;
/* background-color: red;  */
position: absolute;
font-weight: bold;
}
.screen
{
    /* background: rgba(108, 97, 97, 0.276);
    backdrop-filter:(5px); */
}
.searchIcon
{
    top:0px;
    right:10px;
}
#appScreen
{
     background: rgba(108, 97, 97, 0.817);
    backdrop-filter:(5px);
    display: none;

}
#contactListScreen
{
    background: rgba(108, 97, 97, 0.817);
    backdrop-filter:(5px);
    display: none;
}
.bg-white:hover
{
    background-color:rgba(26, 21, 25, 0.715)!important;
    color: rgb(229, 222, 222) !important;
    cursor: pointer;
}